@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;300&family=Roboto&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294cd;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.main-nav {
    /* display: flex;
    align-items: center; */
    justify-content: space-between;
}

.news-logo {
    width: 150px;
    background-color: transparent;
    border-radius: 20px;
}

.main-nav ul {
    display: flex;
    gap: 30px;
}

.nav-item.active{
    color: var(--accent-color);
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;

}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}
li.active{
    color: red;
}

/* .hover-link:active {
    color: red;
    
} */

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding-block: 12px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #fff;
}

.search-button {
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #183b56;
}

main {
    padding-block: 20px;
    margin-top: 110px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.4s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-5px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

#news-source {
    margin-block: 12px;
}